:root{
    --backGroundC:rgb(1, 95, 124);
    --wrong-answer:rgb(189, 37, 37);
    --correct-answer:rgb(33, 146, 38);
    --offWhite:rgb(243, 233, 233);
    --hue-correct:145;
}

*{
    box-sizing: border-box;
}

body{
    width:100%;
    height: 100vh;
    background-color: var(--backGroundC);
    padding:0;
    margin: 0;
    display:flex;
    justify-content: center;
    align-items: center;
}

main {
    background-color: var(--offWhite);
    border-radius: 4px;
    padding:15px;
    box-shadow: 0 0 10px 2px;
    width:700px;
}

#question{
    font-weight: bolder;
    font-size: 22px;
    margin:0px 0px 15px 0px
    
}

.question{
    /*border: 1px solid black;*/
    padding: 10px;
}

.btn {
    border-radius: 5px;
    padding: 5px 10px;
    border: 1px solid black;
    background-color: 1px solid hsl(200, 100%, 30%);
    margin:5px 0px;
}
.btn.correct{
    --hue:var(--hue-correct);
}

.btn.wrong {
    background-color: var(--wrong-answer);
}

.btn-list{
    display: grid;
}

.btn:hover{
    border-color: black;
    box-shadow: 0 0 2px 1px;
}

.options{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.start-btn,
.next-btn,
.score-btn{
    font-weight: bold;
    padding:10px 15px;
}

.hide{
    display:none;
}
